@use "utils/breakpoints";
@use "utils/layout";
@use "utils/helpers";
@use "utils/tokens";
@use "utils/type";

.code-block {
  --code-block-default-border-radius: 0.5em;
  --code-block-font-size: 16px;
  @include layout.grid;
  position: relative;
  margin-top: 0;

  &--full {
    .code-block__figure {
      width: 100%;
      max-width: 600px;
    }
  }

  &--center {
    .code-block__figure {
      grid-column: 1 / -1;
      @include helpers.push-auto;
    }
  }

  &--has-filename {
    --code-block-pre-border-radius: 0;
  }
}

.code-block__figure {
  width: fit-content;
  display: block;
  grid-column: 1/ -1;

  @include breakpoints.laptop {
    grid-column: 3 / -1;
  }
}

.code-block__filename {
  bottom: 100%;
  left: 0;
  border-top-left-radius: var(--code-block-default-border-radius);
  border-top-right-radius: var(--code-block-default-border-radius);
  padding: 5px 12px;
  width: fit-content;
  background: #2e3440;
  color: #f8f8f2;
  font-size: 12px;
}

pre.code-block__pre {
  border-top-left-radius: var(
    --code-block-pre-border-radius,
    var(--code-block-default-border-radius)
  );
  margin-top: 0;
}

.code-block__pre__code {
  display: block;
  font-size: var(--code-block-font-size);
  display: block;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  overflow-y: hidden;
  cursor: copy;
  position: relative;

  &:after {
    @include type.subheading-small;
    content: "Copied to clipboard!";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background: tokens.$color-green-400;
    color: tokens.$color-white-100;
    padding: 5px 12px;
    line-height: 1;
    vertical-align: center;
    border-radius: 5px;
    display: none;
    pointer-events: none;
  }

  &--selected {
    &:after {
      display: block;
    }
  }
}
