@use "utils/layout";
@use "utils/helpers";

.code-block {
  --code-block-default-border-radius: 0.5em;
  --code-block-font-size: 16px;
  @include layout.grid;
  position: relative;
  margin-top: 0;
  width: 100%;

  &[data-variant="fit"] {
    .code-block__figure {
      width: fit-content;
    }
  }

  &--has-filename {
    --code-block-pre-border-radius: 0;
  }
}

.code-block__figure {
  display: block;
  grid-column: 3 / -1;
}

.code-block__filename {
  bottom: 100%;
  left: 0;
  border-top-left-radius: var(--code-block-default-border-radius);
  border-top-right-radius: var(--code-block-default-border-radius);
  padding: 5px 12px;
  width: fit-content;
  background: #2e3440;
  color: #f8f8f2;
  font-size: 12px;
}

pre.code-block__pre {
  border-top-left-radius: var(
    --code-block-pre-border-radius,
    var(--code-block-default-border-radius)
  );
  margin-top: 0;
}

.code-block__pre__code {
  display: block;
  font-size: var(--code-block-font-size);
  display: block;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}
