@use "utils/breakpoints";
@use "utils/helpers";
@use "utils/layout";
@use "utils/tokens";
@use "utils/type";

.single-column {
  @include layout.grid;

  &--center {
    text-align: center;

    .single-column__body {
      @include helpers.push-auto;
    }
  }

  &--heading-small {
    .single-column__headline {
      @include type.h4;
    }
  }

  &--heading-large {
    .single-column__headline {
      @include type.h2;
    }
  }
}

.single-column__container {
  grid-column: 1 / -1;

  @include breakpoints.laptop {
    grid-column: 3 / 11;
  }
}

.single-column__headline {
  @include type.h3;
  margin-bottom: 12px;
  color: tokens.$color-green-300;
}

.single-column__body {
  max-width: 65ch;
}

.single-column__buttons {
  margin-top: 20px;

  .button {
    @include helpers.push-auto;
  }
}
