<figure class="code-block" {% if module.id %} id="{{module.id}}"{% endif %}>
    {% if module.filename %}
        <figcaption class="code-block__filename">{{module.filename}}</figcaption>
    {% endif %}
    <pre class="code-block__pre"><code class="code-block__pre__code language-{{module.language}}">{{- module.code -}}</code></pre>
</figure>