<section class="single-column" {% if module.id %} id="{{module.id}}"{% endif %}>
    <h2 class="single-column__headline">{{module.headline}}</h2>
    <div class="single-column__body">{{module.content}}</div>
</section>