{% import 'macros/button.njk' as buttonMacro with context %}

{% macro render(params) %}
    <div
    class="card {%- if params.class %} {{params.class}}{% endif -%}" 
    {% if params.variant %}data-variant="{{params.variant}}"{% endif %}
    >
        <div class="card__main">
            <div class="card__title">{{params.title}}</div>
            <div class="card__content">{{params.content}}</div>
        </div>

        {% if params.button %}
            {{buttonMacro.render(params.button)}}
        {% endif %}
    </div>
{% endmacro %}