<!doctype html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>HTML5 Example by www.techonthenet.com</title>
    </head>

    <body>
        <h1>{{title}}</h1>
        <p>This is the {{title}} content.</p>
    </body>
</html>