<!doctype html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Server Demo</title>
    </head>

    <body>
        <h1>{{title}}</h1>
        <p>This is the {{title}} content.</p>
        <div>{{content|md|safe}}</div>
        <div>{{date}}</div>

        <div>{{test.name}}</div>
        <div>{{test.content}}</div>
    </body>
</html>
